/* Start Global Rules */
body {
    font-family: 'Open Sans', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-transition: 0.6s;
    --main-color:#31D5A6;
}
.continar {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.section-title {
    margin: 50px auto;
    text-align: center;
}
.section-title h1 {
    display: block;
    letter-spacing: 1px;
    font-size: 35px;
    text-transform: uppercase;
}
.section-title h1 span {
    display: block;
    color: var(--main-color);
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-size: 35px;
    text-transform: uppercase;
}
.section-title p {
    margin-right: 15%;
    margin-left: 15%;
    line-height: 1.6;
    font-size: 19px;
    color: #777;
    padding-bottom: 20px;
}

/* small */
@media (min-width: 768px) {
    .continar {
        width: 750px;
    }
}

/* medium */

@media (min-width: 992px) {
    .continar {
        width: 970px;
    }
}

/* larg */

@media (min-width: 1200px) {
    .continar {
        width: 1170px;
    }
}
/* End Global Rules */

/* Start Landing */
.landing {
    background-image: url(../images/banner-bg.png);
    height: 100vh;
    background-size: 100%;
}
@media (max-width: 992px) {
    .landing {
        height: fit-content;
    }
}
.landing .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    flex-wrap: wrap;
}
@media (max-width: 992px) {
    .landing .head p {
        display: none;
    }
}
.landing .continar .box {
    display: flex;
    padding-top: 10%;
    justify-content: space-between;
    gap: 30px;
}
@media (max-width: 992px) {
    .landing .continar .box {
        flex-direction: column;
    }
    .landing .continar .box .text {
        width: 100%;
    }
}
.landing .continar .box .text {
    display: flex;
    flex-direction: column;

}
@media (min-width: 992px) {
    .landing .continar .box .text {
        width: 50%;
    }
}
.landing .continar .box .text h2 {
    color: white;
    font-size: 40px;
    margin: 0;
}
.landing .continar .box .text h1 {
    color: white;
    font-size: 50px;
    margin-top: 10px;
}
.landing .continar .box .text p {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}
.landing .continar .box .text .button {
    background: black;
    width: fit-content;
    padding: 8px 50px;
    font-size: 21px;
    border-radius: 40px;
    cursor: pointer;
    transition: var(--main-transition);
    margin: 55px 0 0 0;
}
.landing .continar .box .text .button:hover {
    color: var(--main-color);
    transform: translateY(-10px);
}
.landing .continar .box img {
    max-width: 100%;
    width: 500px;
    border-radius: 7px;
}
/* End Landing */
/* Start Design */
.design {
    padding-top: 20px;
    padding-bottom: 20px;
}
.design .continar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}
.design .continar .box img {
    max-width: 100%;
    transition: var(--main-transition);
}
.design .continar .box .img-3 {
    border-radius: 40px;
}
.design .continar .box img:hover {
    transform: scale(1.08);
}
.design .continar .box p {
    text-align: center;
    font-size: 21px;
    cursor: pointer;
    transition: var(--main-transition);
}
.design .continar .box p:hover {
    transform: scale(1.1);
}
/* End Design */

/* Start About */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
}
.about .holder {
    display: flex;
}
@media (max-width: 992px) {
    .about .holder {
        flex-direction: column;
    }
}
.about .holder .box {
    width: 100%;
}
@media (min-width: 992px) {
    .about .holder .box {
    width: 50%;
    max-width: 100%;
    }
}
.about .holder .text {
    background-color: #1F1F20;
    width: 50%;
    padding: 50px 10px 0 100px;
    color: white;
}
@media (max-width: 992px) {
    .about .holder .box {
        width: 100%;
    }
    .about .holder .text {
        padding-left: 50px;
        padding-right: 30px;
        padding-bottom: 50px;
    } 
}
.about .holder .text h2 {
    font-size: 30px;
}
.about .holder .text h2 span {
color: var(--main-color);
}
.about .holder .text p {
    padding-top: 20px;
    line-height: 1.6;
}
.about .holder .box img {
    max-width: 100%;
    height: 100%;
}
/* End About */

/* Start Choose Us */
.choose {
    height: 30vh;
}
.choose .section-title h2 {
    letter-spacing: 1px;
    font-size: 35px;
    text-transform: uppercase;
}
.choose .section-title h2 span {
    color: var(--main-color);
}
.choose {
    padding-top: 50px;
    padding-bottom: 50px;
}
.choose .holder {
    background-color: #1F1F20;
    display: flex;
    justify-content: space-evenly;
}
.choose .holder .box {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}
@media (max-width: 772px) {
    .choose .holder {
        flex-direction: column;
    }
}
.choose .holder .box h3 {
    font-weight: 600;
    font-size: 27px;
}
.choose .holder .box p {
    line-height: 1.6;
    font-size: 17px;
}
.footer {
    background-color: #1F1F20;
    padding: 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-top: 1px solid white;
}
/* End Choose Us */
